<IfModule mod_rewrite.c>
    RewriteEngine On

    # .php uzantılı URL'leri .php'siz hale yönlendir
    RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+(.*?)\.php[\s?] [NC]
    RewriteRule ^ /%1 [R=301,L,NE]

    # .php'siz URL'leri .php dosyalarına yönlendir
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.+?)/?$ $1.php [L]

    # Gerçek dosyalar ve dizinler için kuralları atla
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
</IfModule>